*{
    margin: 0;
    padding: 0;
    cursor: pointer;

}
#game{
    width: 100%;
    height: 100vh;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    
}
#gameStart{
    width: 100%;
    height: 100%;
    background:url('image/ist.jpg');
    background-repeat: no-repeat;
    position: relative;
    display: block;
}


#gameStart span{

    
    width: 40%;
    left: 30%;
    margin: 10px 0;
    display:block;
    background: rgba(204, 204, 204, 0.342);
    border: 4px solid rgb(252, 252, 252);
    box-sizing: border-box;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    position: relative;
    top: 50%;
    cursor: pointer;
}

#gameEnter{
    width: 100%;
    height: 100%;
    background:url('image/background.jpg');
    background-position-y: 0px;
    position: relative;
    display: none;
}
#myplane{
    width: 100px;
    height: 70px;
    position: relative;
    background-image: url("image/03.png");
    background-size: cover;
    left: 50%;
    top: 90%;
    cursor: pointer;
}

#bullets,#enemys{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.b{
    width: 18px;
    height: 9px;
    position: absolute;

}
.e{
    position: absolute;
}
#scores{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    color: rgb(122, 14, 14);
    line-height: 40px;
    font-weight: bolder;
    font-size: 24px;

}
#scores p{
    text-align: right;
    width: 95%;
}